body
{
    font-family: sans-serif;
}

table, th, td
{
    border: 1px solid #ccc;
}

th, td
{
    padding: 0.2em 0.4em;
    vertical-align: top;
}

@media (color)
{
    th
    {
        background-color: #603;
        color: #fff;
    }
}

td.systolic, td.diastolic, td.pulse
{
    text-align: right;
}

td.missing
{
    color: #fff;
}

@media print
{
    form.input-form { display: none; }
}

@media screen and (prefers-color-scheme: dark)
{
    body { background-color: black; color: #ccc; }
    table, th, td { border: 1px solid #333; }
    input[type=number] { background-color: black; color: #ccc; }
    input[type=submit], button[type=submit], select { background-color: #555; color: #ccc; }
    a:link { color: #ff0; }
    a:visited { color: #0ff; }
}
