{% extends "base.html" %}
{% import "list_macros.html" as list_macros %}

{% block title %}Body Mass{% endblock %}

{% block content %}

    <h1>Body Mass</h1>

    {% if token.write %}
    <form class="input-form" method="post">
        <div><input type="number" name="mass_kg" class="mass" placeholder="mass kg" min="0.0" step="0.1" required="required" autofocus="autofocus" /></div>
        <div><input type="number" name="waist_circum_cm" class="waist-circum" placeholder="waist circumference cm" min="0" step="1" /></div>
        <div><button type="submit">store</button></div>
    </form>
    {% endif %}

    <table class="last-measurements">
        <thead>
            <tr>
                <th class="timestamp">timestamp</th>
                <th class="mass">mass</th>
                <th class="waist-circum">waist circumference</th>
                <th class="bmi"><abbr title="Body Mass Index">BMI</abbr></th>
            </tr>
        </thead>
        <tbody>
            {% for measurement in measurements %}
                <tr>
                    <td class="timestamp">{{ measurement.timestamp }}</td>
                    <td class="mass">{{ measurement.mass_kg|ratio2float(2) }}</td>
                    <td class="waist-circum">{% if let Some(wc) = measurement.waist_circum_cm %}{{ wc|ratio2float(2) }}{% endif %}</td>
                    <td class="bmi">{% if let Some(bmi) = measurement.bmi %}{{ bmi|ratio2float(2) }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if let Some(stats) = statistics %}
        <table class="min-max">
            <tr class="header">
                <th class="metric">metric</th>
                <th class="mass">mass</th>
                <th class="waist-circum">waist circumference</th>
                <th class="bmi"><abbr title="Body Mass Index">BMI</abbr></th>
            </tr>
            <tr class="maximum">
                <td class="metric">maximum</td>
                {% call list_macros::output_mass_stats_cols(stats.maximum) %}
            </tr>
            <tr class="quasi-quartile-3">
                <td class="metric">quasi-3rd quartile</td>
                {% call list_macros::output_mass_stats_cols(stats.quasi_q3) %}
            </tr>
            <tr class="average">
                <td class="metric">average</td>
                {% call list_macros::output_mass_stats_cols(stats.average) %}
            </tr>
            <tr class="quasi-median">
                <td class="metric">quasi-median</td>
                {% call list_macros::output_mass_stats_cols(stats.quasi_q2) %}
            </tr>
            <tr class="quasi-quartile-1">
                <td class="metric">quasi-1st quartile</td>
                {% call list_macros::output_mass_stats_cols(stats.quasi_q1) %}
            </tr>
            <tr class="minimum">
                <td class="metric">minimum</td>
                {% call list_macros::output_mass_stats_cols(stats.minimum) %}
            </tr>
        </table>
    {% endif %}

    <p>mass in kg, waist circumference in cm</p>

    {% call list_macros::output_links("mass") %}

{% endblock %}
