{% extends "base.html" %}
{% import "list_macros.html" as list_macros %}

{% block title %}Blood Sugar{% endblock %}

{% block content %}

    <h1>Blood Sugar</h1>

    {% if token.write %}
    <form class="input-form" method="post">
        <div><input type="number" name="sugar_value" class="sugar" placeholder="blood sugar" min="0.0" step="0.1" required="required" /></div>
        <div><select name="sugar_unit_key">
            <option value="mmol-per-l">mmol/l</option>
            <option value="mg-per-dl" selected="selected">mg/dl</option>
        </select></div>
        <div><button type="submit">store</button></div>
    </form>
    {% endif %}

    <table class="last-measurements">
        <thead>
            <tr>
                <th class="timestamp">timestamp</th>
                <th class="sugar mmol-per-l">blood sugar (mmol/l)</th>
                <th class="sugar mg-per-dl">blood sugar (mg/dl)</th>
            </tr>
        </thead>
        <tbody>
            {% for measurement in measurements %}
                <tr>
                    <td class="timestamp">{{ measurement.timestamp }}</td>
                    <td class="sugar mmol-per-l">{{ measurement.sugar_mmol_per_l|ratio2float(1) }}</td>
                    <td class="sugar mg-per-dl">{{ measurement.sugar_mg_per_dl()|ratio2float_owned(0) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if let Some(stats) = statistics %}
        <table class="min-max">
            <tr class="header">
                <th class="metric">metric</th>
                <th class="sugar mmol-per-l">blood sugar (mmol/l)</th>
                <th class="sugar mg-per-dl">blood sugar (mg/dl)</th>
            </tr>
            <tr class="maximum">
                <td class="metric">maximum</td>
                {% call list_macros::output_sugar_stats_cols(stats.maximum) %}
            </tr>
            <tr class="quasi-quartile-3">
                <td class="metric">quasi-3rd quartile</td>
                {% call list_macros::output_sugar_stats_cols(stats.quasi_q3) %}
            </tr>
            <tr class="average">
                <td class="metric">average</td>
                {% call list_macros::output_sugar_stats_cols(stats.average) %}
            </tr>
            <tr class="quasi-median">
                <td class="metric">quasi-median</td>
                {% call list_macros::output_sugar_stats_cols(stats.quasi_q2) %}
            </tr>
            <tr class="quasi-quartile-1">
                <td class="metric">quasi-1st quartile</td>
                {% call list_macros::output_sugar_stats_cols(stats.quasi_q1) %}
            </tr>
            <tr class="minimum">
                <td class="metric">minimum</td>
                {% call list_macros::output_sugar_stats_cols(stats.minimum) %}
            </tr>
        </table>
    {% endif %}

    {% call list_macros::output_links(current_page="sugar") %}

{% endblock %}
